.container{
    position: absolute;
    top: 150px;
    width: 970px;
    display: flex;
    align-items: center;
    left:650px;
 


    .window{
        height: 100%;
        width: 100%;
        overflow: hidden;
        
    }

    .pages{
        height: 100%;
        display: flex;
        transition: translate;
        transition-property: transform;
        transition-duration: 0.8s;
        transition-timing-function: ease-in-out;
        
        img{
            width: 970px;
            height: 524px;
            cursor: pointer;
            
        }
    }

    .arrow{
        cursor: pointer;
    }
}

